@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (width <= 768px) {
  [data-aos],
  [data-aos].aos-animate,
  [data-aos]:not(.aos-animate),
  .aos-init,
  .aos-animate {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
    animation: none !important;
    visibility: visible !important;
    pointer-events: auto !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
}
